.footer-container, .grey-container, .header-container {
  max-width: 1280px;
  margin: 0px auto;
}

.header-nav a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  align-items: center;
}

.pet-card p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(arialmt.ttf);
}
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #CDCDCD;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  align-items: center;
  color: white;
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 767px) {
  h3 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

footer h3 {
  color: #fff;
}

h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

footer h4 {
  color: #F1CDB3;
  text-align: start;
}

h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.logo a {
  color: #292929;
}

.header-nav a {
  color: #545454;
  transition: 0.1s linear;
}

.header-nav a:nth-child(2) {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.header-nav a:hover {
  color: #292929;
}

header {
  color: #292929;
}

.header-nav a:hover {
  color: #292929;
}

.button-primary {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  width: 207px;
  height: 52px;
  background-color: #F1CDB3;
  padding: 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.1s linear;
}

.button-primary:hover {
  background-color: #FDDCC4;
}

.button-secondary {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: #FAFAFA;
  width: 187px;
  height: 52px;
  padding: 0;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.1s linear;
}

.button-secondary:hover {
  background-color: #FDDCC4;
}

.slider-change {
  background-color: unset;
  color: #292929;
  width: 52px;
  height: 52px;
  padding: 0;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.1s linear;
}

.slider-change:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.slider-change.disabled {
  cursor: unset;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  background-color: unset;
}

.slider-change.disabled h4 {
  color: #CDCDCD;
}

.slider-left {
  background-image: url("../../assets/icons/Arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  .slider-left {
    order: 2;
  }
}

.slider-right {
  background-image: url("../../assets/icons/Arrow.png");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  .slider-right {
    order: 3;
  }
}

.our-friends-button {
  width: 261px;
}

.btn-center {
  cursor: unset;
  background-color: #F1CDB3;
}

.btn-center:hover {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.pet-card {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  transition: 0.1s linear;
}

.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-card:hover > button {
  background-color: #FDDCC4;
  transition: 0.2s linear;
}

.pet-card p {
  color: #545454;
}

.help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
@media (max-width: 1279px) {
  .help-card {
    width: 170px;
    height: 113px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .help-card {
    width: 130px;
    height: 87px;
    row-gap: 20px;
  }
}

@media (max-width: 767px) {
  .help-card img {
    width: 50px;
    height: 50px;
  }
}

.header-container {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.grey-container {
  background-color: #F6F6F6;
}

.footer-container {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
}

header {
  max-width: 1200px;
  margin: 0px auto;
  padding: 30px 40px 0px 40px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
@media (max-width: 1279px) {
  header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 42px;
  }
}
@media (max-width: 1279px) {
  header {
    padding-top: 30px;
  }
}

.our-pets-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 80px 40px 0px 40px;
  text-align: center;
  padding-bottom: 100px;
}
@media (max-width: 1279px) {
  .our-pets-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .our-pets-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 42px;
  }
}
@media (max-width: 1279px) {
  .our-pets-wrapper {
    padding-bottom: 76px;
  }
}
@media (max-width: 767px) {
  .our-pets-wrapper {
    padding-bottom: 42px;
  }
}

footer {
  max-width: 1200px;
  margin: 0px auto;
  padding: 40px 40px 0px 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 42px;
  }
}
@media (max-width: 1279px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 65px;
    column-gap: 50px;
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  footer {
    row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .footer-img {
    width: 260px;
  }
}

.logo {
  margin-right: auto;
}

h1 {
  padding-bottom: 10px;
}

.logo p {
  text-align: center;
}

.header-nav a {
  margin-left: 31px;
}
@media (max-width: 767px) {
  .header-nav a {
    display: none;
  }
}

.our-pets-wrapper h3 {
  padding-bottom: 45px;
}
@media (max-width: 1279px) {
  .our-pets-wrapper h3 {
    padding-bottom: 30px;
  }
}
@media (max-width: 1279px) {
  .our-pets-wrapper h3 {
    padding-bottom: 42px;
  }
}

.burger {
  display: none;
  background-image: url("../../assets/icons/burger.png");
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .burger {
    display: block;
    width: 30px;
    height: 22px;
    margin-right: 43px;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 30px;
  padding-top: 15px;
}
@media (max-width: 1279px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
    width: 54vw;
    min-width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .cards-container {
    grid-template-columns: 1fr;
    min-width: 280px;
  }
}

@media (max-width: 1279px) {
  .pet-card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .card-4, .card-5, .card-6 {
    display: none;
  }
}

@media (max-width: 1279px) {
  .card-7, .card-8 {
    display: none;
  }
}

.cards-navigation {
  margin: auto;
  padding-top: 55px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
@media (max-width: 1279px) {
  .cards-navigation {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .cards-navigation {
    column-gap: 10px;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  height: 234px;
}
@media (max-width: 1279px) {
  .footer-col {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    gap: 40px;
  }
}

.footer-col h3 {
  width: 290px;
}

.footer-element {
  color: #F1CDB3;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.london {
  margin-right: 10px;
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
