.grey-container, .white-container, .header-container {
  max-width: 1280px;
  margin: 0px auto;
}

.about-content p, .not-only-content p, .header-nav a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  align-items: center;
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(arialmt.ttf);
}
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #CDCDCD;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  align-items: center;
  color: white;
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.header-nav a {
  color: #CDCDCD;
  transition: 0.05s linear;
}

.header-nav a:first-child {
  color: #FAFAFA;
  border-bottom: 2px solid #F1CDB3;
}

.header-nav a:hover {
  color: #FAFAFA;
  border-bottom: 2px solid #F1CDB3;
}

.not-only-content p {
  color: #CDCDCD;
}

.about-content p {
  color: #4C4C4C;
}

.button-primary {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  width: 207px;
  height: 52px;
  background-color: #F1CDB3;
  padding: 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #FDDCC4;
}

.button-secondary {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  width: 207px;
  height: 52px;
  padding: 0;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: #FDDCC4;
}

.header-container {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
}

.grey-container {
  background-color: #F6F6F6;
}

header {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 60px;
  display: flex;
  padding-bottom: 60px;
  align-items: center;
}

.not-only {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 60px;
  display: flex;
}

.about-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 80px;
  display: flex;
  padding-bottom: 100px;
  height: auto;
}

.our-friends-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 80px;
  padding-bottom: 60px;
}

.logo {
  margin-right: auto;
}

.logo p {
  text-align: center;
}

.header-nav a {
  margin-left: 35px;
}

.not-only-content {
  margin-right: auto;
  margin-top: 163px;
  width: 460px;
}

h2 {
  padding-bottom: 40px;
}

.not-only-image {
  background-image: url("../../assets/images/start-screen-puppy.png");
  background-repeat: no-repeat;
  height: 728px;
  width: 698px;
}

.not-only-content p {
  padding-bottom: 42px;
}

.about-image {
  background-image: url("../../assets/images/about-pets.png");
  background-repeat: no-repeat;
  height: 408px;
  width: 300px;
  margin-left: 175px;
  margin-right: auto;
}

.about-content {
  width: 430px;
  padding-right: 175px;
}

.our-friends-wrapper h3 {
  text-align: center;
}

.our-friends-cards {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
