%paragraph-1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    align-items: center;
}
%pet-card-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
@mixin h3-mobile (){
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(arialmt.ttf);
}
html {
    font-family: Arial, Helvetica, sans-serif;
    color: $color-dark-s;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}
h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    align-items: center;
    color: white;
}
h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    @media (max-width: $breakpoint-2) {
        @include h3-mobile();
    }
}
footer h3 {
    color: #fff;
}
h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}
footer h4 {
    color: $color-primary;
    text-align: start;
}
h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}
.logo p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    }
.logo a {
    color: $color-dark-3x1
}
.header-nav a {
    @extend %paragraph-1;
    color: $color-dark-l;
    transition: $transition-yes;
}
.header-nav a:nth-child(2) {
    color: $color-dark-3x1;
    border-bottom: 3px solid $color-primary;
}
.header-nav a:hover {
    color: $color-dark-3x1;
}

header {
    color: $color-dark-3x1;
}

.header-nav a:hover {
    color: $color-dark-3x1;
}